<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="shortcut icon" href="https://imgs.search.brave.com/kxV5nb-gQ4vOHiVPYz178jNbGVYHiC3Kvv7ZvuW9VUg/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzYwL2Qx/LzYxLzYwZDE2MTMx/YjdmNTI2YWMwYmY0/ZDFjZDE4OTg5MmFj/LmpwZw" type="image/x-icon">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Pinterest</title>
</head>
<body>
  
  <div class="w-full bg-zinc-800 md:px-10 px-2 md:py-3 py-1 text-white flex items-center justify-between">
    <a href="/feed">
      <div class=" md:mx-5 text-2xl overflow-hidden flex md:gap-2 gap-1 items-center justify-between">
        <img class="inline-block md:w-10 md:h-[6vh] h-[5vh] object-cover rounded-full" src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo"/>
        Pinterest
      </div>
    </a>
    <div class="md:mx-5  flex md:gap-20 gap-5 items-center ">
      <a class="profile opacity-90 hover:opacity-100 md:text-lg text-xl" href="/profile">Profile</a>
      <a class="feed opacity-90 hover:opacity-100 md:text-lg text-xl" href="/feed">Feed</a>
      <a href="/logout" class="md:px-3 px-2 md:py-2 py-1 bg-red-500 hover:bg-red-600 text-white rounded-lg ">Logout</a>
    </div>
  </div>